<h2>Start Screen</h2>
<p>Guess the number between 1 and 100. Player with the least amount of guesses is the best. Good Luck.</p>
<form (ngSubmit)="startGame()" #gameform="ngForm">
  <label for="name">Enter your name:</label>
  <input type="text" name="name" id="name" [(ngModel)]="name" />
  <input type="submit" value="Start Game" />
</form>
<h3>Best Player</h3>
<ul style="list-style-type: none">
  <li *ngFor="let player of topList">
    Name: {{player.name}} Score: {{player.score}}
  </li>
</ul>