<div class="container">
  <form (ngSubmit)="addItem()" #shoppingForm="ngForm">
    <div class="form-group">
      <label for="type" class="form-label">Type</label>
      <input type="text" name="type" id="type" class="form-control" [(ngModel)]="item.type" />
      <label for="count" class="form-label">Type</label>
      <input type="number" name="count" id="count" class="form-control" [(ngModel)]="item.count" />
      <label for="price" class="form-label">Type</label>
      <input type="number" name="price" id="price" class="form-control" [(ngModel)]="item.price" />
    </div>
    <input type="submit" class="btn btn-primary" value="Add" />
  </form>
</div>