{{if .success}}
    <h1>{{.Shoppinglist}}</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {{range .Items}}
                <tr>
                    <td>{{.Itemtype}}</td>
                    <td>{{.Count}}</td>
                    <td>{{.Price}}</td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{else}}
    <h1>Enter new shopping item</h1>
    <form method="POST">
        <label for="itemtype">Type</label>
        <input type="text" id="itemtype" name="itemtype" />
        <br />
        <label for="count">Count</label>
        <input type="number" id="count" name="count" />
        <br />
        <label for="price">Price</label>
        <input type="number" id="price" name="price" />
        <br />
        <input type="submit" value="Add Item" />
    </form>
{{end}}