<form (ngSubmit)="addContact()" #contactForm="ngForm">
  <label for="firstname">First name</label>
  <input type="text" name="firstname" id="firstname" [(ngModel)]="contact.firstname" />
  <br />
  <label for="lastname">Last name</label>
  <input type="text" name="lastname" id="lastname" [(ngModel)]="contact.lastname" />
  <br />
  <label for="email">Email</label>
  <input type="email" name="email" id="email" [(ngModel)]="contact.email" />
  <br />
  <label for="phone">Phone</label>
  <input type="tel" name="phone" id="phone" [(ngModel)]="contact.phone" />
  <br />
  <input type="submit" value="Add Contact" />
</form>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contactList">
      <td>{{c.firstname}}</td>
      <td>{{c.lastname}}</td>
      <td>{{c.email}}</td>
      <td>{{c.phone}}</td>
      <td><button (click)="removeContact(c.id)">Remove</button></td>
    </tr>
  </tbody>
</table>