:host {
    background: #1a2580;
    color: #FFF;
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    min-width: 150;
    z-index: 9999;
    font-family: Arial;
}

ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 50px;
    list-style: none;
}